
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
    --markhov:#65a2e3;
    --nav:rgb(45, 96, 109);
}



*{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection{
    background:var(--markhov);
    color: #fff;
}

html {
    font: size 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    background: var(--nav);
    color: beige;
    padding: .8rem 3rem;
    border: .2rem solid var(--markhov);
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 1.5rem; 
}
.btn:hover{
    background:var(--markhov);
    color:black;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--nav);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
}

header .navbar a{
    color: beige;
    font-size: 2rem;
    margin: .8rem;
}
header .navbar a:hover{
    color:var(--markhov);
}
header .icons i{
    font-size: 2.5rem;
    color: beige;
    cursor: pointer;
    margin-right: 2rem;
}
header .icons i:hover{
    color: var(--markhov);
}
header .search-bar-container{
    position: absolute;
    top: 100%;
    left:0;
    right: 0;
    padding:.8rem 1rem;
    background: var(--nav);
    border-top: .1rem solid rgba(100, 18, 18, 0.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0 );
}
header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{ 
    width: 100%;
    padding: 0.7rem;
    text-transform: none;
    color: var(--nav);
    font-size: 1rem;
    border-radius: 0.5rem;
}
header .search-bar-container label{
    color: beige;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}
header .search-bar-container label:hover{
    color: var(--markhov);
}

.login-form-container{
    position:fixed;
    top:-120%;
    left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(100, 18, 18, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container.active{
    top:0;
}

.login-form-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 4rem;
    background:var(--nav) ;
    width: 50rem;
}

.login-form-container form h3{
    font-size: 3rem;
    color: beige;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}
 .login-form-container form .box{
    width: 100%;
    padding: 1rem 0;
    font-size: 1.7rem;
    color: var(--nav);
    margin:.6rem 0;
    border: .1rem solid rgba(100, 18, 18, 0.2);
    text-transform: none;
}
.login-form-container form .box:focus{
    border-color: var(--markhov);
}
.login-form-container form #remember{
    margin: 2rem, 0;
}
.login-form-container form label{
    font-size: 1rem;
}
.login-form-container form .btn{
    display: block;
    width: 100%;
}
.login-form-container form p{
    padding: .5rem 0;
    font-size: 1.2rem;
    color: beige;
}
.login-form-container form p a{
    color: var(--markhov);
}
.login-form-container form p a:hover{
    color:rgba(82, 19, 19, 0.719);
    text-decoration: underline;
}
.login-form-container #form-close{
    position: absolute;
    top: 2rem;
    right:3rem;
    font-size: 3rem;
    color:beige;
    cursor: pointer;
}
#menu-bar {
    color: beige;
    border: .1rem solid beige;
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}











/*media*/

@media (max-width:1200px){
    html {
        font: size 55%;  
    }
}
@media (max-width:991px){
    header {padding: 2rem;
    }
}
@media (max-width:768px){
    #menu-bar{
        display: initial;
    }
    header .navbar{ 
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: var(--nav);
        border-top: .1rem solid rgba(100, 18, 18, 0.2);
        padding: .1rem 2rem;
    }
}